@charset "utf-8";
/* CSS Document */
body {
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      color: #333;
    }
    h1 {
      font-size: 36px;
      font-weight: bold;
      margin-top: 60px;
      margin-bottom: 30px;
      text-align: center;
      text-transform: uppercase;
    }
	h3 {
	  color:aliceblue;
	}
    p {
      font-size: 18px;
      margin-bottom: 20px;
    }
    /* Navbar styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #0067aa;
  transition: top 0.3s ease;
}

/* Hide navbar on mobile devices */
@media (max-width: 767px) {
  .navbar {
    top: -80px;
  }
}

/* Show navbar when scrolling up */
.navbar.hidden {
  top: 0px;
}

/* Navbar brand image */
.navbar-brand img {
  position: absolute;
  top: 50%;
  transform: translateY(-51%);
  height: 100%;
  width: auto;
}

/* Navbar toggler button */
.navbar-toggler {
  border: none;
  color: #fff;
  font-size: 24px;
}

/* Change navbar position when scrolled */
.navbar.scrolled {
  top: -80px;
}

/* Remove focus and active styles on toggler button */
.navbar-toggler:focus, 
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

/* Navbar links */
.navbar-nav .nav-link {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding: 20px;
  margin-right: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

/* Navbar link hover */
.navbar-nav .nav-link:hover {
  background-color: #005188;
}

/* Remove padding from navbar links on mobile devices */
@media (max-width: 767px) {
  .navbar-nav .nav-link {
    padding: 10px;
    margin-right: 0;
  }
}

    .container-fluid {
      max-width: 960px;
      margin: 0 auto;
      padding: 60px 30px;
    }
    .container-fluid p:last-child {
      margin-bottom: 0;
    }
	footer {
  	  background-color: #0067aa;
  	  color: white;
  	  text-align: center;
  	  font-size: 12px;
  	  height: 50px;
  	  width: 100%;
  	  margin-top: auto;
	}	

	footer h3 {
  	  margin-bottom: 30px;
	}

	footer p {
  	  margin-bottom: 10px;
	}

	footer i {
  	  margin: 10px;
  	  color: #fff;
	}

	footer a:hover i {
  	  color: #FFA500;
	}
	.container {
  	  overflow: hidden;
	}

	.image-container {
 	  float: left;
	  margin-top: 20px;
  	  margin-right: 20px;
	  margin-left: 200px;
	}
	
	.image-container2{
	  float: right;
	  margin-top: 50px;
	  margin-right: 80px;
	  margin-left: 80px;
	}

	.image-container3 {
  	  display: flex;
  	  flex-wrap: wrap;
  	  justify-content: center;
  	  align-items: center;
	}

	.paragraphs-container {
  	  float: right;
  	  width: 50%;
	  margin-top: -5px;
	  margin-right: 80px;
	}

	.image-wrapper {
  	  width: 150px;
  	  height: 75px;
  	  padding: 5px;
  	  margin: 10px;
  	  border: 1px solid #ccc;
  	  display: flex;
  	  justify-content: center;
  	  align-items: center;
	}
	
	.about-img{
	  width: 580px;
	  height: 350px;
	}
	img {
  	  max-width: 100%;
  	  max-height: 100%;
  	  object-fit: contain;
	}

	.paragraphs-container2{
	  float: left;
	  width: 36%;
	  margin-top: 17px;
	  margin-left: 200px;
	}

	.blue-title{
	  color: #0067aa;
	  margin-left: 200px;
	  font-weight: bold;
	}

	.black-title{
	  color: black;
	  margin-left: 200px;
	  font-weight: bold;
	}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
}

.image {
  margin: 10px;
  width: 13%;
  border-style: solid;
  border-width: thin;
}

.image2	{
  margin: 10px;
  width: 13%;
  height: 220px;
  border-style: solid;
  border-width: thin;
}

.image3	{
  margin: 10px;
  width: 13%;
  height: 125px;
  border-style: solid;
  border-width: thin;
}

.image4	{
  margin: 10px;
  width: 13%;
  height: 125px;
  border-style: solid;
  border-width: thin;
}

.image5	{
  margin: 10px;
  width: 13%;
  height: 125px;
  border-style: solid;
  border-width: thin;
}

.image6	{
  margin: 10px;
  width: 13%;
  height: 125px;
  border-style: solid;
  border-width: thin;
}

img {
  width: 100%;
  height: auto;
  cursor: pointer;
  object-fit: cover;
}
.no-hover {
  pointer-events: none;
}
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  display: flex;
}

.modal-content {
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 25%;
  max-height: 100%;
  overflow: hidden;
}

.mySlides {
  display: none;
  align-items: center;
  justify-content: center;
  flex: 1 0 100%;
  text-align: center;
}

img.demo {
  margin: auto;
  height: 90%;
  max-width: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  transform: translateY(-30%);
  margin-top: -22px;
  padding: 16px;
  color: #292828;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev{
  left: -10px;
}
.next {
  right: -10px;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0,0,0,0.8);
}
